---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://edge.conch.joyent.us/schema/request/OrganizationCreate
    method: GET
  response:
    body: '{"$id":"urn:request.OrganizationCreate.schema.json","$schema":"http:\/\/json-schema.org\/draft-07\/schema#","additionalProperties":false,"definitions":{"email_address":{"allOf":[{"format":"email","type":"string"},{"$ref":"\/definitions\/mojo_relaxed_placeholder"}]},"mojo_relaxed_placeholder":{"description":"see
      https:\/\/metacpan.org\/pod\/Mojolicious::Guides::Routing#Relaxed-placeholders","pattern":"^[^\/]+$","type":"string"},"mojo_standard_placeholder":{"description":"see
      https:\/\/metacpan.org\/pod\/Mojolicious::Guides::Routing#Standard-placeholders","pattern":"^[^\/.]+$","type":"string"},"uuid":{"pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$","type":"string"}},"properties":{"admins":{"items":{"additionalProperties":false,"oneOf":[{"required":["user_id"]},{"required":["email"]}],"properties":{"email":{"$ref":"\/definitions\/email_address"},"user_id":{"$ref":"\/definitions\/uuid"}},"type":"object"},"minItems":1,"type":"array","uniqueItems":true},"description":{"type":"string"},"name":{"$ref":"\/definitions\/mojo_standard_placeholder"}},"required":["name","admins"],"title":"OrganizationCreate","type":"object"}'
    headers:
      Content-Type:
      - application/json
      X-Conch-Api:
      - v3.0.0-a6-0-g546d5e19
    status: 200 OK
    code: 200
    duration: ""
