---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://edge.conch.joyent.us/schema/request/OrganizationAddUser
    method: GET
  response:
    body: '{"$id":"urn:request.OrganizationAddUser.schema.json","$schema":"http:\/\/json-schema.org\/draft-07\/schema#","additionalProperties":false,"definitions":{"email_address":{"allOf":[{"format":"email","type":"string"},{"$ref":"\/definitions\/mojo_relaxed_placeholder"}]},"mojo_relaxed_placeholder":{"description":"see
      https:\/\/metacpan.org\/pod\/Mojolicious::Guides::Routing#Relaxed-placeholders","pattern":"^[^\/]+$","type":"string"},"role":{"description":"corresponds
      to role_enum in the database","enum":["ro","rw","admin"],"type":"string"},"uuid":{"pattern":"^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$","type":"string"}},"oneOf":[{"required":["user_id"]},{"required":["email"]}],"properties":{"email":{"$ref":"\/definitions\/email_address"},"role":{"$ref":"\/definitions\/role"},"user_id":{"$ref":"\/definitions\/uuid"}},"required":["role"],"title":"OrganizationAddUser","type":"object"}'
    headers:
      Content-Type:
      - application/json
      X-Conch-Api:
      - v3.0.0-a6-0-g546d5e19
    status: 200 OK
    code: 200
    duration: ""
